@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "base/base";
@import "elements";

body {
	background-color: $cream;
	margin: 0;
	padding: 0;
}
header {
	//padding-top: 5%;
	h1 {
		//color: $olive;
		font-size: 4em;
		line-height: .5em;
		margin-bottom: -12px;
		margin-top: 8%;
		position: relative;
		text-align: center;
		z-index: 10;
		@include media($desktop) {
			font-size: 6em;
			margin-bottom: -21px;
		}
	}
	img {
		margin-bottom: -7px;
	}
	div {
		padding-bottom: 0;
		@include linear-gradient(to top, $peach, $tan);
	}
}


// Home

h1 {
	color: $dark-brown;
	font-family: $serif;
	//font-size: $base-font-size*6;
	font-weight: normal;
	line-height: $heading-line-height;
}
h2 {
	color: $dark-brown;
	font-size: $base-font-size * 2;
	margin: 0;
}
h3 {
	color: lighten($brown, 20%);
	font-size: $base-font-size * 1.1;
	margin: .75em 0 1.2em 0;
	font-weight: 900;
}
h4 {
	font-size: $base-font-size * 1.5;
	@include media(max-width $mobile) {
		font-size: $base-font-size * 1.3;
		line-height: 1.3em;
	}
	em {
		font-family: $serif;
		font-size: $base-font-size * 2.5;
		font-style: normal;
		font-weight: normal;
		text-transform: lowercase;
	}
}

section {
	padding: 5% 0;
	@include media(max-width $mobile) {
		padding: 10% 0;
	}
}

#testimonials, #clients, footer {
	background-color: $olive;
}
blockquote {
	margin: 0;
	padding: 0 $gutter 0 0;
}

.odd {
	color: #fff;
	@include outer-container(90%);
	h1, h2, h4, p, cite {
		color: #fff;
	}
	h3 {
		color: $peach;
	}
}

#focus {
	@include outer-container(90%);
	div {
		@include outer-container;
	}
	h2 {
		font-size: 1.5em;
		margin-bottom: 1.5em;
		text-align: center;
			br {
				display: none;
			}
		@include media($tablet) {
			br {
				display: inline-block;
			}			
		}
		@include media($desktop) {
			font-size: $base-font-size * 2;
			br {
				display: inline-block;
			}
		}
	}
	p {
		font-size: 1.25em;
		@include media($desktop) {
			@include span-columns(8);
			@include shift(2);
		}
	}
}

#testimonials {
	@include background-image(url('/images/sunset.jpg'));
	background-size: cover;
	blockquote {
		border-bottom: 1px solid #fff;
		margin-bottom: $gutter;
		@include media($desktop) {
			border-bottom: none;
			margin-bottom: 0;
			padding-right: $gutter;
			@include span-columns(4);
			@include omega;
		}
	}
	cite {
		display: block;
		padding-bottom: $gutter;
		text-align: center;
	}
	&:after {
		content: "";
		opacity: 0.5;
		top: 0;
		left: 0;
		position: absolute;
		z-index: -1;
	}
}

#work {
	@include outer-container(90%);
	h4 {
		@include fill-parent;
	}
	.logo, .web {
		@include outer-container;
	}
	.web {
		margin-bottom: $gutter*1.5;
		figure {
			//background-color: $olive;
			margin: 0 0 $gutter 0;
			position: relative;
			@include media(min-width $tablet) {
				@include span-columns(3);
				@include omega(4n);
			}
			@include media(min-width $mobile max-width $tablet) {
				@include span-columns(4);
				@include omega(3n);
			}
			@include media(max-width $mobile) {
				@include span-columns(6);
				@include omega(2n);
			}			
		}
	}
	.logo {
		span {
			@include span-columns(4);
			@include media (max-width $mobile) {
				@include span-columns (12);
			}
		}
		img {
			border: 1px solid lighten($tan,20%);
		}
	}
	figure {
		figcaption {
			opacity: 0;
			@include transition(all .5s ease-in-out);
		}
		&:hover {
			figcaption {
				opacity: 1;
				@include transition(all .3s ease-in-out);
			}
		}
	}
}

#clients {
	@include background-image(url('/images/contemporary_china.png'));
	background-blend-mode: multiply;
	p {
		padding-bottom: $gutter;
	}
	span.client {
		padding: $gutter $gutter*1.5;
		@include span-columns(4);
		@include omega(3n);
		@include media($desktop) {
			padding: $gutter $gutter * 3.5;
		}
	}
}

#about {
	@include outer-container(90%);
	h3, p {
		@include span-columns(12);
		@include media($desktop) {
			@include span-columns(8);
		}
	}
	h4, ul {
		@include span-columns(12);
		@include media($desktop) {
			@include span-columns(4);
			@include omega;
		}
	}
	h4 {
		margin-bottom: 0;
		margin-top: $gutter/2;
		line-height: 1em;
		@include media($desktop) {
			margin-top: 0;
		}
	}
	li {
		border-bottom: 1px solid $olive;
		font-size: 1em;
		font-style: italic;
		padding: 5px 0 3px $gutter;
		&:hover:after {
			color: $olive;
			font-size: 80%;
		}
	}
	.sass:hover:after {
		content: " - best thing since sliced bread";
	}
	.git:hover:after {
		content: " - three rights make a left";
	}
	.wp:hover:after {
		content: " - for lack of a better wrench";
	}
	.ror:hover:after {
		content: " - ooh, shiny";
	}
}

#payment {
	@include outer-container(90%);
}

footer {
	@include background-image(url('/images/symphony.png'));
	background-blend-mode: multiply;
	a {
		color: $dark-brown !important;
		font-size: 100% !important;
		margin: $gutter 0;
		@include button($peach);
	}
	img {
		@include span-columns(2.5);
	}
}

.mail {
	margin-right: $gutter;
}
.mail:before {
	background: url(/images/mail.svg) no-repeat;
	background-size: contain;
	content: "";
	padding-left: 30px;
}
.twitter:before {
	background: url(/images/twitter.svg) no-repeat;
	background-size: contain;
	content: "";
	padding-left: 30px;
}
.plus:before {
	background: url(/images/plus.svg) no-repeat;
	background-size: contain;
	content: "";
	padding-left: 30px;
}

// Thanks subtlepatterns.com for the nifty art
