// Typography

@import url("//hello.myfonts.net/count/27d894");
@include font-face("MontelagoAOE", "/fonts/montelago/27D894_0_0");
@include font-face("MontelagoAOEFlare", "/fonts/montelago/27D894_1_0", bold);

$sans-serif: "museo-sans",sans-serif;
$serif: MontelagoAOE;

$base-font-family: $sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$brown: #815633;
$dark-brown: #5F371A;
$olive: #AAA17E;
$cream: #FBF5E5;
$peach: #FECF90;
$tan: #C5A170;

// Font Colors
$base-background-color: $cream;
$base-font-color: $brown;
$base-accent-color: lighten($brown,20%);
$action-color: $peach;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border
$base-border-color: $olive;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
